<div class="thanx-trigger" data-popup="thanx">
    
</div>
<div class="blur">
    <div class="popup popup-thanx modal-1 modal">
        <div class="modal__close popup__close">
        </div>

        <div class="modal__title">
            Спасибо, ваше сообщение отправлено!
        </div>
    </div>
</div>

<div class="blur">
    <div class="popup popup-del wrapper del">
        <div class="popup__close">
            {{Icon iconName="close-b"}}
        </div>
        <div class="del-c">
            <div class="del-text">
                <p>
                    При удалении профиля данные не сохраняются <br>
                    <span>ВЫ УВЕРЕНЫ?</span>
                </p>
            </div>
            <div class="ch__buttons">
                <a href="#" class="ch__button">
                    Уадалить аккаунт
                </a>
            </div>
        </div>
    </div>
</div>