<div class="header">
    <div class="wrapper">
        <div class="header__container">
            <a href="main.html" class="header__logo">
                {{Icon iconName="logo"}}
            </a>

            <div class="header__open">
                {{Icon iconName="open"}}
            </div>
        </div>
    </div>
</div>

<div class="header__humb-overlay"></div>
<div class="header__humb">
    <div class="header__close">
        {{Icon iconName="close"}}
    </div>
    <div class="user__title-c">
        <a href="qr.html" class="user__title-qr">
            <img src="static/img/general/qr.png">
            <div>
                Мой QR-код
            </div>
        </a>
    </div>
    <div class="user__title-c">
        <a href="main.html" class="user__title-t">
            Личный кабинет   
        </a>
    </div>
    <div class="user__title-c">
        <a href="main.html" class="user__title-t">
            Редактировать аккаунт
        </a>
    </div>
    <div class="user__title-c">
        <a href="main.html" class="user__title-t">
            Сотрудники
        </a>
    </div>
    <div class="user__title-c">
        <a href="main.html" class="user__title-t">
            Транзакции
        </a>
    </div>
    <div class="user__title-c">
        <a href="tarif.html" class="user__title-t">
            Мой тариф 
        </a>
    </div>
    <button class="user__title-btn">
        Выйти 
    </button>
</div>